################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/snap_TimeDateCalculator_gtk/v17
/.vs
/timedatecalculator_6.4.27_amd64.snap
/rte.txt
/rterrs.txt
/rtmsg.txt
/timedatecalculator
