################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/snap_TimeDateCalculator_gtk/v17
/.vs
/timedatecalculator_6.4.27_amd64.snap
/rte.txt
/rterrs.txt
/rtmsg.txt
/timedatecalculator
/packages/
TimeDateCalculator/TimeDateCalculator/bin/Debug/netstandard2.0/TimeDateCalculatorDll.dll
TimeDateCalculator/TimeDateCalculator/bin/Debug/netstandard2.0/TimeDateCalculatorDll.dll
TimeDateCalculator/TimeDateCalculator/bin/Debug/netstandard2.0/TimeDateCalculatorDll.dll
TimeDateCalculator/TimeDateCalculator/bin/Debug/netstandard2.0/TimeDateCalculatorDll.dll
TimeDateCalculator/TimeDateCalculator/bin/Debug/netstandard2.0/TimeDateCalculatorDll.pdb
TimeDateCalculator/TimeDateCalculator/obj/project.assets.json
TimeDateCalculator/TimeDateCalculator/obj/project.nuget.cache
TimeDateCalculator/TimeDateCalculator/obj/TimeDateCalculatorDll.csproj.nuget.dgspec.json
TimeDateCalculator/TimeDateCalculator/obj/TimeDateCalculatorDll.csproj.nuget.g.props
TimeDateCalculator/TimeDateCalculator/obj/TimeDateCalculatorDll.csproj.nuget.g.targets
TimeDateCalculator/TimeDateCalculator/obj/Debug/netstandard2.0/TimeDateCalculatorDll.assets.cache
TimeDateCalculator/TimeDateCalculator/obj/Debug/netstandard2.0/TimeDateCalculatorDll.csprojAssemblyReference.cache
TimeDateCalculator/TimeDateCalculator/obj/Debug/netstandard2.0/TimeDateCalculatorDll.dll
TimeDateCalculator/TimeDateCalculator/obj/Debug/netstandard2.0/TimeDateCalculatorDll.pdb
