[Desktop Entry]
Version=6.7.30
Type=Application
Terminal=false
Exec=timedatecalculator
Name=timedatecalculator
Comment=Time, Date and Time Span calculator
Icon=${SNAP}/meta/gui/timedatecalculator.png
